{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hi {{ obj.first_name }}!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Claim Management
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" onclick="location.href='/show-claim-request'">View</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Requests
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'request-leave' obj.emp_id %}">Request Leave</a></li>
                        <li><a class="dropdown-item" href="{% url 'view-leave-request' obj.emp_id %}">View Leave
                            Status</a></li>
                        <li><a class="dropdown-item" href="{% url 'request-claim' obj.emp_id %}">Request Claim</a></li>
                        <li><a class="dropdown-item" href="{% url 'view-claim-request' obj.emp_id %}">View Claim
                            Status</a></li>
                        <li><a class="dropdown-item" href="{% url 'request-asset' obj.emp_id %}">Request Asset</a></li>
                        <li><a class="dropdown-item" href="{% url 'view-asset-request' obj.emp_id %}">View Asset
                            Status</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Task Report
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Generate Report</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
{% endblock %}

