<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      

  </head>

  <body>
    <center><div><h2 class="bg-primary text-white">Task List</h2></div></center>
    <table class="table">
      <thead class="bg-danger text-white">
        <tr>
          <th>Task</th>
          <th>From Time</th>
          <th>To Time</th>
          <th>Current Status</th>
          <th>Submitted Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in query %}
        <tr>
          <td>{{obj.task}}</td>
          <td>{{obj.from_time}}</td>
          <td>{{obj.to_time}}</td>
            {% if obj.is_submitted %}
                <td>Submitted</td>
                <td>{{obj.submitted_date}}</td>
            {% else %}
                <td>Pending</td>
                <td>Not Submitted</td>
            {% endif %}

          <td>
              {% if not obj.is_submitted %}
                <button class="btn-info btn-sm" onclick="location.href='/submit-task/{{ obj.id }}'">Submit To Manager</button>
            <button class="btn-info btn-sm" onclick="location.href='/edit-task/{{ obj.id }}'">Edit</button>
            <button class="btn-danger btn-sm" onclick="location.href='/delete-task/{{ obj.id }}'">Delete</button>
                  {% else %}
                  <button class="btn-danger btn-sm" onclick="location.href='/view-task-status/{{ obj.id }}'">View</button>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
