{% extends 'base.html' %}
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"#}
{#      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"#}
{#        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"#}
{#        crossorigin="anonymous"></script>#}
{% block title %}Home{% endblock %}

{% block content %}
{#    {% if user.is_authenticated %}#}
    <div class="" align="right">
    <h5 style="color:red;">Hi {{ obj.first_name }}!</h5>
            <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>

            <div class="col-md-12">
                <div class="col-md-3"><button class="btn-danger btn-lg" onclick="location.href='#'">View Schedule</button></div>
                <div class="col-md-3"><button class="btn-success btn-lg" onclick="location.href='/request-leave/{{obj.emp_id}}'">Leave Request</button></div>
                <div class="col-md-3"><button class="btn-danger btn-lg" onclick="location.href='/request-asset/{{obj.emp_id}}'">Asset Request</button></div>
                <div class="col-md-3"><button class="btn-danger btn-lg" onclick="location.href='/request-claim/{{obj.emp_id}}'">Claim Request</button></div>

                <div class="col-md-3"><button class="btn-success btn-lg" onclick="location.href='/view-task-list/{{obj.emp_id}}'">View TASK</button></div>
                <div class="col-md-3"><button class="btn-success btn-lg" onclick="location.href='/create-task/{{obj.emp_id}}'">Create Task</button></div>
                <br>
            </div>


{#    {% else %}#}
{#        <div style="padding-bottom: 20%;">#}
{#            <h2 style="color: burlywood;font-family: sans-serif;text-align: center;padding-bottom: 10%;"></h2>#}
{#                Itsourcecode Employee Management System</h1>#}
{#                <h5 style="color: beige;text-align: center;">You are not Logged in</h5>#}
{#                    <a href="{% url 'login-a' %}">#}
{#                        <button class="btn-warning btn-lg" style="margin-left: 32%;">Login</button>#}
{#                    </a>#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}
