<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Employee System</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </head>
<body class="text-center">
<div style="padding-top: 5%" class="d-flex flex-column vh-100 justify-content-center align-items-center text-center ">
    <div class=" card col-3" style="background-color: rgba(255,255,255,0.80)">
        <div  class="card-body">
            <div style="padding-bottom: 20px" class="row d-flex justify-content-center"><h3 style="color: #000000;">Add Employee Details</h3></div>
            <main class="form-signin">
                <form method="POST" action="/add_emp">
                {% csrf_token %}
                <div class="pb-5 form-floating">
                        {{ form.username }}
                </div>
                <div class="pb-5 form-floating">
                    {{ form.password }}
                </div>
                <div class="pb-5 form-floating">
                    {{ form.first_name }}
                </div>
                <div class="pb-5 form-floating">
                    {{ form.last_name }}
                </div>
                <div class="pb-5 form-floating">
                    {{ form.department }}
                </div>

                <div class="pb-2 form-floating">
                    {{ form.role }}
                </div>
                <div class="pb-5 form-floating">
                    {{ form.email }}
                </div>
                <div class="pb-5 form-floating">
                    {{ form.phone }}
                </div>
                    <div class="mt-5 row d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
</body>



{#  <body>#}
{#    <div>#}
{#      <div class="booking-form">#}
{#          <h3 style="color: bisque;padding-top: 5%;">Add Employee Details</h3>#}
{#    <form method="POST" action="/add_emp">#}
{#      {% csrf_token %}#}
{#        <div class="form-group">#}
{#        <label class="form-label">User Name:</label>#}
{#        <div>{{form.username}}</div>#}
{#      </div>#}
{#        <div class="form-group">#}
{#        <label class="form-label">Password:</label>#}
{#        <div>{{form.password}}</div>#}
{#      </div>#}
{#      <div class="form-group">#}
{#        <label class="form-label">First Name:</label>#}
{#        <div>{{form.first_name}}</div>#}
{#        <!--<<input type="text" value="{{form.first_name}}" />-->#}
{#      </div>#}
{##}
{#      <div class="form-group">#}
{#        <label class="form-label">Last Name:</label>#}
{#       <div>{{form.last_name}}</div>#}
{#         <!--<input type="text" value="{{form.last_name}}" />-->#}
{#      </div>#}
{##}
{#      <div class="form-group">#}
{#    <label class="form-label">Department:</label>#}
{#    <div>{{form.department}}</div>#}
{#</div>#}
{#<p style="color:crimson">Company not available?</p><button class="btn-warning btn-sm" onclick="location.href='/comp'">Click Here</button>#}
{##}
{#      <div class="form-group">#}
{#        <label class="form-label">Role:</label>#}
{#        <div>{{form.role}}</div>#}
{#        <!--<input type="text" value="{{form.role}}" />-->#}
{#      </div>#}
{#        <div class="form-group">#}
{#        <label class="form-label">Employee Email:</label>#}
{#        <div>{{form.email}}</div>#}
{#        <!--<input type="text" value="{{form.email}}" />-->#}
{#      </div>#}
{##}
{#      <div class="form-group">#}
{#        <label class="form-label">Employee phone:</label>#}
{#        <div>{{form.phone}}</div>#}
{#        <!--<input type="text" value="{{form.phone}}" />-->#}
{#      </div><br>#}
{##}
{#      <button type="submit" class="btn-success">Submit</button>#}
{#    </form>#}
{#  </div></div>#}
{#  </body>#}
</html>
