{% extends 'base.html   ' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Hi {{ user.username }}!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
    <div>
        <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
    </div>
</nav>
    <div class="container-fluid">

            <div class="d-flex flex-column vh-100 justify-content-center align-items-center text-center">
               <div>

                    <div style="padding: 5%"  class="row input-group d-flex justify-content-center">
                        <button style="width: 450px; height: 60px; font-size: x-large " class="btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Employee Management</button>
                        <div class="dropdown-menu">
                          <a class=" dropdown-item" href="#" onclick="location.href='/add_emp'">Add Employees</a>
                          <div role="separator" class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" onclick="location.href='/view-emp-list'">View Employees</a>
                        </div>
                    </div>

                    <div style="padding: 5%" class="row input-group d-flex justify-content-center">
                        <button style="width: 450px; height: 60px; font-size: x-large" class="btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Asset Management</button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#" onclick="location.href='/add-asset'">Add assets</a>
                          <div role="separator" class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" onclick="location.href='/view-asset-list'">View assets</a>
                        </div>
                    </div>

               </div>
            </div>
            {% endif %}
    {% else %}
        <div style="padding-bottom: 20%;">
            <h2 style="color: burlywood;font-family: sans-serif;text-align: center;padding-bottom: 10%;"></h2>
                Employee Management System - DialUp</h1>
                <h5 style="color: beige;text-align: center;">You are not Logged in</h5>
                    <a href="{% url 'login-a' %}">
                        <button class="btn-warning btn-lg" style="margin-left: 32%;">Login</button>
                    </a>
        </div>
    {% endif %}
    </div>
{% endblock %}
