<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      

  </head>

  <body>
    <center><div><h2 class="bg-primary text-white">List of Assets</h2></div></center>
    <table class="table">
      <thead class="bg-danger text-white">
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>No Of Item</th>
          <th>Is Available</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in assets %}
        <tr>
          <td>{{obj.item}}</td>
          <td>{{obj.description}}</td>
          <td>{{obj.no_of_item}}</td>
          <td>{{obj.is_available}}</td>
          <td>
            
{#            <button class="btn-danger btn-sm" onclick="location.href='/delete-emp/{{emp.emp_id}}'">Delete</button>#}
{#            <button class="btn-success btn-sm" onclick="location.href='/edit-emp/{{emp.emp_id}}'">Update</button>#}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
