<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">  </head>

  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Hi {{ user.username }}!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
    <div>
        <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
    </div>
</nav>
  <div class="container-fluid">
  <div class="text-center" style="margin-top: 5%; ">
    <div style="margin-bottom: 30px; background-color: rgba(255,255,255,0.62)" class=" text-center"><h1 class="text-dark">List of Employees</h1></div>
  <div class="d-flex justify-content-center">
    <table style=" width: 90%" class="table table-striped table-dark">
      <thead class="bg-secondary">
        <tr>
          <th>EMP ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Department</th>
          <th>Role</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for emp in employees %}
        <tr>
          <td>{{emp.id}}</td>
          <td>{{emp.first_name}}</td>
          <td>{{emp.last_name}}</td>
          <td>{{emp.department}}</td>
          <td>{{emp.role}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.phone}}</td>
          <td>
            <span class="btn btn-light"><span style="padding-right: 5px"><i onclick="location.href='/edit-emp/{{emp.emp_id}}'" class="bi bi-pencil-fill"></i></span>&nbsp;<span><i onclick="location.href='/delete-emp/{{emp.emp_id}}'" class="bi bi-trash-fill"></i></span></span>
{#            <button class="btn-danger btn-sm" onclick="location.href='/delete-emp/{{emp.emp_id}}'">Delete</button>#}
{#            <button class="btn-success btn-sm" onclick="location.href='/edit-emp/{{emp.emp_id}}'">Update</button>#}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </body>
</html>
