<!DOCTYPE html>
<html lang="en">
  <head> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


  </head>

  <body>
    <center><div><h2 class="bg-primary text-white">List of Employees</h2></div></center>
    <table class="table">
      <thead class="bg-danger text-white">
        <tr>
          <th>EMP ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Department</th>
          <th>Role</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for emp in employees %}
        <tr>
          <td>{{emp.id}}</td>
          <td>{{emp.first_name}}</td>
          <td>{{emp.last_name}}</td>
          <td>{{emp.department}}</td>
          <td>{{emp.role}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.phone}}</td>
          <td>
            
            <button class="btn-danger btn-sm" onclick="location.href='/delete-emp/{{emp.emp_id}}'">Delete</button>
            <button class="btn-success btn-sm" onclick="location.href='/edit-emp/{{emp.emp_id}}'">Update</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
