<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Employee System</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<div>
    <div class="booking-form3">
        <h3 style="color: bisque;padding-top: 5%;">Update Schedule Details</h3>

        <form method="POST" action="/update-schedule/{{ form.instance.id }}" class="forma">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label">Assigned To:</label>
{#                <div>{{form.emp}}</div>#}
                <input type="text" name="emp" value="{{ form.instance.emp.first_name }}"/>
            </div>
            <div class="form-group">
                <label class="form-label">From Date:</label>
                <input type="text" name="from_date" value="{{ form.instance.from_date }}"/>
            </div>
            <div class="form-group">
                <label class="form-label">To Date:</label>

                <input type="text" name="to_date" value="{{ form.instance.to_date }}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Shift Type:</label>

                <input type="text" name="shift_type" value="{{ form.instance.shift_type }}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Task Info:</label>
                <input type="text" name="task_info" value="{{ form.instance.task_info }}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Is Scheduled:</label>
                <input type="text" name="is_scheduled" value="{{ form.instance.is_scheduled }}"/>
            </div>
            <br>
            <button type="submit" class="btn-success">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
